/* 
Primary:
Dark Blue: hsl(233, 26%, 24%)
Lime Green: hsl(136, 65%, 51%)
Bright Cyan: hsl(192, 70%, 51%)

Neutral:
Grayish Blue: hsl(233, 8%, 62%)
Light Grayish Blue: hsl(220, 16%, 96%)
Very Light Gray: hsl(0, 0%, 98%)
White: hsl(0, 0%, 100%)
*/

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    position: relative;
    color: hsl(233, 8%, 62%);
    overflow-x: hidden;
}

.menu, .menu-button {
    visibility: hidden;
}

button {
    padding: 1.5vh 1.5vw;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, hsl(136, 65%, 60%), hsl(192, 70%, 60%));
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: hsl(136, 65%, 51%);
}

h1, h2, h3 {
    color: hsl(233, 26%, 24%);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}


header {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0;
    font-weight: 400;
    position: relative;
    z-index: 3;
}

header img {
    height: 20px;
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    margin: auto 1vw;
}

.navbar ul li a {
    color: hsl(233, 8%, 62%);
}

.navbar ul li a:hover {
    color: hsl(233, 26%, 24%);
    border-bottom: 3px solid hsl(136, 65%, 51%);
    padding-bottom: 3.1vh;
}


/* main class */
.main {
    width: 100%;
    display: flex;
}

.main-child-1 {
    width: 50%;
    margin: 10% 10%;
}

.main-child-1 p {
    margin: 3% 0;
}

.main-child-2 {
    width: 50%;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    position: relative;
    background-position-x: 17%;
    background-position-y: 70%;
}

.mockup-image {
    width: 100%;
    position: absolute;
    top: -15%;
    right: -8%;
    z-index: 0;
}

/* section */
section {
    background-color: hsl(220, 16%, 96%);
    padding: 0 10vw;;
}

.section-child {
    padding: 12vh 50vw 5vh 0;
}

.section-child p {
    font-size: 1rem;
    margin: 1rem 0;
}

section ul {
    display: flex;
    /* flex-wrap: wrap; */
}

.section-list {
    padding: 2vh 6vw 10vh 0;
}

.section-list h3 {
    font-size: 1.5rem;
    margin: 2vh 0;
}

.section-list p {
    font-size: 1rem;
}

/* Article */
article {
    background: hsl(0, 0%, 98%);
    padding: 10vh 10vw;
}

article ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article-list {
    background: white;
    width: 23%;
    height: 50vh;
    margin: 5vh 0;
}

.article-image {
    width: 100%;
    height: 25vh;
    border-radius: 8px;
}

.article-text {
    height: 25vh;
    margin: 2vh 1vw;
    padding: 0 2vw 0 0;
}

.article-text h3 {
    margin: 1vh 0;
}

.article-text h3 a {
    color:hsl(233, 26%, 24%);
}

.article-text h3 a:hover {
    color: hsl(136, 65%, 51%);
}

.article-author {
    font-size: 0.8rem;
}

/* Footer */

footer {
    width: 100%;
    background: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0;
}

.footer-child {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-handle a img {
    cursor: pointer;
}

.social-handle a img:hover {
    filter: invert(66%) sepia(79%) saturate(477%) hue-rotate(78deg) brightness(91%) contrast(84%);
}

.footer-list {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.footer-list li {
    margin: 0.5vh 0;
}

/* Attribution */

.attribution {
    font-size: 15px;
    margin: 1vh 0;
}

/* Mobile rendering */
@media (max-width: 1080px) {

    body {
        position: static;
    }
    
    .header-button, .desktop-bg{
        display: none;
    }

    .menu {
        visibility: visible;
        cursor: pointer;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: center;
        width: 100%;
    }

    .main-child-1 {
        font-size: 0.8rem;
        width: 100%;
        margin: 65vh 0 15vh 0;
        text-align: center;
    }

    .main-child-1 p {
        margin: 5vh 0;
        font-size: 1rem;
        Take your Easybank card wherever you go
        
        We want you to enjoy your travels. This is why we don’t charge any fees on purchases while you’re abroad. We’ll even show you …
        
    }
    
    .main-child-2 {
        background: url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -16vh;
        width: 100%;
        background-position-y: 14vh;
    }

    .mockup-image {
        width: 100%;
        position: static;
    }

    section {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-child {
        margin-top: 10vh;
        padding: 0;
        text-align: center;
    }

    section ul {
        flex-wrap: wrap;
    }

    .section-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article ul {
        flex-wrap: wrap;
    }

    .article-list {
        width: auto;
    }

    footer {
        flex-direction: column;
        justify-content: space-around;
        padding: 5vh 0;
    }

    .footer-list {
        flex-direction: column;
        text-align: center;
        margin: 3vh 0;
    }

    .footer-list-child {
        line-height: 4vh;
    }

    /* Navigation */
    .navigation {
        position: absolute;
        top: 12vh;
        left: 6vw;
        flex-direction: column;
        background: #fff;
        border: 1px blueviolet;
        box-shadow: 0 50px 100px 40px hsl(233, 26%, 24%);
        width: 70%;
        padding: 5vh;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    .navbar .navigation li {
        margin: 20px 0;
    }

    .navbar .navigation li a {
        color: hsl(233, 26%, 24%);
        font-weight: 700;
    }

    .active {
        opacity: 1;
    }
}